HealthUi
{
	position: absolute;

	right: 0;
	bottom: 0;

	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.health
	{
		background-color: #0004;
        border-radius: 6px;
        padding: 20px 40px;
        color: white;
        font-weight: bolder;
        font-size: 30px;
        font-family: poppins;
        justify-content: center;
        align-items: center;
        gap: 32px;
        backdrop-filter: blur( 40px );
	}
}