@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if (attack.SmgGunEnabled)
	{
	<div class="health3">Ammo: @smg.ammo</div>
	}
	<div class="health2">Max Health: @health.maxHealth</div>
 	<div class="health">Health: @health.healthNumber</div>
	
<root>



@code
{
	 [Property] public HealthManager health { get; set; }
	[Property] public SMG smg { get; set; }
	 [Property] public Attack attack { get; set; }


	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(health?.healthNumber, health?.maxHealth, smg?.ammo);
}
