@using Sandbox;
@using Sandbox.UI;
@using System.Linq;
@inherits PanelComponent

<root>
	@if (Player is not null)
	{
		<div class="health">Health: @Player.Health</div>
	}
<root>



@code
{
	public PlayerController Player { get; set; }
	public SMG smg { get; set; }

	protected override void OnUpdate()
	{
		Player = Scene.GetAllComponents<PlayerController>().FirstOrDefault();
	}


	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Player.Health);
}
