@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<button @onclick=@UpgradeSpeed>Upgrade Speed</button>
	<button @onclick=@RecievePistol>Recieve Pistol</button>
	<button @onclick=@RecieveSMG>Recieve Special MP5</button>
	<button @onclick=@IncreaseMaxHealth>Increase Max Health</button>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	[Property] public PlayerController Player { get; set; }
	[Property] public Manager manager { get; set; }
	[Property] public Attack attack { get; set; }
	[Property] public HealthManager health { get; set; }
	[Property] public SMG smg { get; set; }
	
	void UpgradeSpeed()
	{
		Player.Speed += 100;
		manager.AddScore();
	}

	void RecievePistol()
	{
		attack.PistolGunEnabled = true;
		manager.AddScore();
	}

	void RecieveSMG()
	{
		//Enable the SMG gun and give it ammo
		attack.SmgGunEnabled = true;
		smg.ammo = 512;
		//Add Score
		manager.AddScore();
		//Disable the other guns
		attack.PistolGunEnabled = false;
		attack.RPGGunEnabled = false;
		attack.DuccBlasterEnabled = false;
	}
	void IncreaseMaxHealth()
	{
		health.maxHealth += 50;
		manager.AddScore();
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}
